* {
    font-family: 'NotoSansExtraCondensedThin';
    font-weight: normal;
    font-style: normal;
    color: #e0d5be;
    text-align: center;
}

body {
    background-image: url(../images/trees.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    font-size: 400%;
    background-color: #3c5829e3;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* Nav Bar */

#nav,
#feature,
#footer {
    margin: auto;
}

ul {
    padding-left: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#navLinks {
    padding-left: 0%;
    width: fit-content;
    margin: auto;
}

#nav {
    font-size: 150%;
    width: fit-content;
}

#nav,
#footer {
    background-color: #101f08;
    padding: 0.5em 0;
    border-radius: 10px;
}


/* Page Content */

#content {
    overflow: auto;
}

.column1,
.column2,
.column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
    font-size: 180%;
    background-color: #31470c;
}

#feature,
.article {
    height: 80%;
    margin-bottom: 1em;
}

img {
    width: 50%
}

#feature {
    background-color: #3c5829;
    font-size: 140%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

#links {
    background-color: #3c5829;
    font-size: 140%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

a {
    text-decoration: none;
}