* {
    font-family: 'NotoSansExtraCondensedThin';
    font-weight: normal;
    font-style: normal;
    text-align: center;
}

body {
    background-image: url(../images/trees.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}


/* Headers */

h1 {
    font-size: 400%;
    background-color: #3c5829e3;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    color: #e0d5be;
}

h2 {
    font-size: 300%;
    border-radius: 10px;
    color: #e0d5be;
    width: 60%;
    margin: auto;
    margin-bottom: 0%;
}

h3 {
    color: #ebe6d6;
    background-color: rgb(22, 90, 153);
    font-size: 150%;
    margin: auto;
    border-radius: 10px;
    margin-top: 1%;
    margin-bottom: 0%;
}


/* Nav Bar */

#nav,
#feature,
#footer {
    margin: auto;
}

ul {
    padding-left: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#navLinks {
    padding-left: 0%;
    width: fit-content;
    margin: auto;
}

#nav {
    font-size: 150%;
    width: fit-content;
}

#nav,
#footer {
    color: #ebe6d6;
    background-color: #101f08;
    padding: 0.5em 0;
    border-radius: 10px;
}


/* Page Content */

#content {
    overflow: auto;
    margin-top: 0%;
}

.column1,
.column2,
.column3 {
    width: 31.3%;
    float: left;
    margin: 1%;
    font-size: 180%;
    background-color: #31470c;
}

#feature,
.article {
    height: 80%;
    margin-bottom: 1em;
}

img {
    width: 50%
}

#feature {
    padding-top: 10px;
    background-color: #3c5829f3;
    font-size: 140%;
    width: 50%;
    margin: auto;
    border-radius: 10px;
}

#links {
    background-color: #3c5829;
    font-size: 140%;
    margin: auto;
    border-radius: 10px;
    color: #e0d5be;
}

label {
    color: #e0d5be;
    width: 25%;
    margin-left: -15%;
    text-align: right;
    display: inline-block;
}

#Country,
#State,
#Comments {
    color: black;
    font-size: 60%;
    font-weight: bolder;
    background-color: #ebe6d6;
    width: 250px;
}

#Comments {
    height: 20px;
}

option {
    color: black;
    font-size: 110%;
    font-weight: bolder;
    background-color: #ebe6d6;
    display: inline-block;
}

input[type=text] {
    color: black;
    font-size: 60%;
    font-weight: bolder;
    background-color: #ebe6d6;
    display: inline-block;
    width: 250px;
}

input[type=submit] {
    background-color: rgb(15, 36, 7);
    color: #ebe6d6;
    font-size: 100%;
    display: inline-block;
    width: 100px;
    margin: auto;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: #e0d5be;
}

#ErrorChunk {
    color: #ebe6d6;
    font-weight: bolder;
    background-color: hsla(219, 100%, 30%, 0.705);
    border-radius: 10px;
    font-size: 90%;
    width: 70%;
    margin: auto;
}

#Disclaimer {
    font-size: 80%;
    color: #ebe6d6;
}

#FooterHeader {
    color: #ebe6d6;
    font-size: 200%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

#Thanks {
    background-color: #3c5829;
    font-size: 140%;
    width: 400px;
    margin: auto;
    border-radius: 10px;
}