* {
    font-family: 'NotoSansExtraCondensedThin';
    font-weight: normal;
    font-style: normal;
    color: #e0d5be;
    text-align: center;
}

body {
    background-image: url(../images/trees.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}


/* Header */

h1 {
    font-size: 400%;
    background-color: #3c5829e3;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}


/* Nav Bar */

#nav,
#feature,
#footer {
    margin: auto;
}

ul {
    padding-left: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#navLinks {
    padding-left: 0%;
    width: fit-content;
    margin: auto;
}

#nav {
    font-size: 150%;
    width: fit-content;
}

#nav,
#footer {
    background-color: #101f08;
    padding: 0.5em 0;
    border-radius: 10px;
}


/* Page Content */

#feature {
    background-color: #3c5829f3;
    font-size: 140%;
    margin: auto;
    border-radius: 10px;
    width: 800px;
}

.Words {
    padding: 20px;
}

a {
    text-decoration: none;
}

#FooterHeader {
    color: #ebe6d6;
    font-size: 200%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}

video {
    height: 350px;
    padding-bottom: 10px;
}