* {
    font-family: 'NotoSansExtraCondensedThin';
    font-weight: normal;
    font-style: normal;
    color: #e0d5be;
    text-align: center;
}

body {
    background-image: url(../images/trees.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}

h1 {
    font-size: 400%;
    background-color: #3c5829e3;
    border-radius: 10px;
    width: fit-content;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

h2 {
    font-size: 300%;
    border-radius: 10px;
    color: #e0d5be;
    width: 60%;
    margin: auto;
    margin-bottom: 0%;
}

#content {
    overflow: auto;
}

#nav,
#feature,
#footer {
    margin: auto;
}

ul {
    padding-left: 0%;
}

li {
    display: inline;
    padding: 0.5em;
}

#navLinks {
    padding-left: 0%;
    width: fit-content;
    margin: auto;
}

#nav {
    font-size: 150%;
    width: fit-content;
}

#nav,
#footer {
    background-color: #101f08;
    padding: 0.5em 0;
    border-radius: 10px;
}

li {
    display: inline;
    padding: 0.5em;
}

#nav {
    font-size: 150%;
    width: fit-content;
}

#nav,
#footer {
    background-color: #101f08;
    padding: 0.5em 0;
    border-radius: 10px;
}

#footer {
    width: fit-content;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0%;
    padding-bottom: 5px;
}

#Copy {
    margin-bottom: 0%;
    margin-top: 0px;
}

#FooterHeader {
    font-size: 120%;
    padding: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
}


/* Page Content */

#feature {
    background-color: #3c5829f3;
    font-size: 140%;
    margin: auto;
    border-radius: 10px;
    width: 60%;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
}

#links {
    background-color: #3c5829;
    font-size: 140%;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 10px;
}

a {
    text-decoration: none;
}

#caption {
    font-size: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0%;
}

#slides {
    margin-top: 10px;
    width: 80%;
    padding: 0%;
}

#title {
    font-size: 160%;
    margin: auto;
}

#BirdLink {
    background-color: #101f08;
    width: fit-content;
    padding: 10px;
    border-radius: 50px;
}

video {
    width: 80%;
}